<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> et bienvenue dans mon monde de Fonsdé !</h1>
    <p>
      Ton addresse e-mail <%= @user.email %> est trop défonce man
    </p>
    <p>
      Allez viens te logger ma petite loque : <%= @url %>.
    </p>
    <p> À très vite dans le four de Saint-Denis !
  </body>
</html>